// ----------BACKGROUND_COLOR_VARIABLE----------//
$main-color: #131921;
$secondary-color: #bfbfbf;
$color-white: #fff;
$color-danger: #b12b1f;
$color-warning: #d17946;
$color-success: #4267b2;
$color-error: #cf4b4b;
$other-color: #dcdcdc;

// ----------BACKGROUND_COLOR_VARIABLE----------//
$bg-main: #303944;
$bg-secondary: #6b869e !important;
$bg-white: #fff;
$bg-danger: #b12b1f;
$bg-warning: #d17946;
$bg-success: #4267b2;
$bg-error: #cf4b4b;